<?php
/**
 * Contains the {{classname}}Endpoint class.
 *
 * @category   {{apiCategory}}
 * @package    {{apiPackage}}
 * @subpackage {{apiSubPackage}}
 *
 * @author     {{{author}}}
 * @since      {{currentDate}}
 */

/**
 * @namespace
 */
namespace {{apiSubPackage}};

use TriCore\Driver\EndPoint\AbstractEndPoint;
{{#imports}}
use {{import}}VO;
{{/imports}}

/**
 * Contains the {{classname}}Endpoint class.
 *
 * @category   {{apiCategory}}
 * @package    {{apiPackage}}
 * @subpackage {{apiSubPackage}}
 *
 * @author     {{{author}}}
 * @since      {{currentDate}}
 */
class {{classname}}EndPoint extends AbstractEndPoint
{

    /**
     * The params the end point will use.
     *
     * @var array
     */
    protected $arrParams = array();

    /**
     * Setter for the params for the current endpoint
     *
     * @param array $arrParams The params
     *
     * @author {{{author}}}
     * @since  {{currentDate}}
     *
     * @return void
     */
    public function setParams($arrParams)
    {
        $this->arrParams = $arrParams;
    }

    {{#operations}}
    {{#operation}}
    /**
     * TODO THIS DESCRIPTION SHOULD COME FROM SWAGGER
     *
     * The response will be handled by this function in the form of a success VO or an exception with errors.
     *
     * @author {{{author}}}
     * @since  {{currentDate}}
     *
     * @return \TriStudio\Resource\AbstractVariableObject The response
     */
    public function {{operationId}}()
    {
        {{#pathParams}}
        {{#-last}}
        $sUrl = $this->replacePathToken(
            '{{path}}',
            $this->arrParams
        );
        $sUrl = $this->getAbsoluteUri($sUrl);
        {{/-last}}
        {{/pathParams}}
        {{^pathParams}}
        $sUrl = $this->getAbsoluteUri('{{path}}');
        {{/pathParams}}

        $objResponse = $this->send($sUrl, \Zend\Http\Request::METHOD_{{httpMethod}});

        $objBody = json_decode($objResponse->getBody());
        $objResponseVO = null;
        /** @var \TriStudio\Resource\Helper\VariableObjectFromStdClass $objVoFromStdClass */
        $objVoFromStdClass = $this->getServiceManager()->get('VariableObjectFromStdClass');
        switch ($objResponse->getStatusCode()) {
            {{#responses}}
            {{#dataType}}
            {{^isWildcard}}case {{code}}:{{/isWildcard}}{{#isWildcard}}default:{{/isWildcard}}
                $objVO = $objVoFromStdClass->populate(new {{baseType}}VO(), $objBody);
                {{^isSuccess}}
                $objExceptionVO = new \TriCore\Driver\Exception\RuntimeException();
                $objExceptionVO->setErrorObject($objVO);
                throw $objExceptionVO;
                {{/isSuccess}}
                break;
            {{/dataType}}
            {{/responses}}
        }
        return $objVO;
    }

    {{/operation}}
    {{/operations}}
}

