<?php
/**
 * Contains the {{classname}}Endpoint class.
 *
 * @category   {{apiCategory}}
 * @package    {{apiPackage}}
 * @subpackage {{apiSubPackage}}
 *
 * @author     {{{author}}}
 * @since      {{currentDate}}
 */

/**
 * @namespace
 */
namespace {{apiSubPackage}};

use TriCore\Driver\EndPoint\AbstractEndPoint;
use TriStudio\Resource\VariableObjectIterator;
{{#imports}}
use {{import}}VO;
{{/imports}}

/**
 * Contains the {{classname}}Endpoint class.
 *
 * @category   {{apiCategory}}
 * @package    {{apiPackage}}
 * @subpackage {{apiSubPackage}}
 *
 * @author     {{{author}}}
 * @since      {{currentDate}}
 */
class {{classname}}EndPoint extends AbstractEndPoint
{

    /**
     * The params the end point will use.
     *
     * @var array
     */
    protected $arrParams = array();

    /**
     * Setter for the params for the current endpoint
     *
     * @param array $arrParams The params
     *
     * @author {{{author}}}
     * @since  {{currentDate}}
     *
     * @return void
     */
    public function setParams($arrParams)
    {
        $this->arrParams = $arrParams;
    }

    {{#operations}}
    {{#operation}}
    /**
     * Replace url params and make an external request.
     *
     * The response will be handled by this function in the form of a success VO or an exception with errors.
     *
     * @author {{{author}}}
     * @since  {{currentDate}}
     *
     * @throws \TriCore\Driver\Exception\RuntimeException - If there is an error
     *
     * @return \TriStudio\Resource\AbstractVariableObject The response
     */
    public function {{operationId}}()
    {
        $sUrl = $this->prepareUrl(
            '{{path}}',
            $this->arrParams
        );
        $objResponse = $this->send($sUrl, \Zend\Http\Request::METHOD_{{httpMethod}});

        $objBody = json_decode($objResponse->getBody());
        $objResponseVO = null;
        /** @var \TriStudio\Resource\Helper\VariableObjectFromStdClass $objVoFromStdClass */
        $objVoFromStdClass = $this->getServiceManager()->get('VariableObjectFromStdClass');
        switch ($objResponse->getStatusCode()) {
            {{#responses}}
            {{^isWildcard}}case {{code}}:{{/isWildcard}}{{#isWildcard}}default:{{/isWildcard}}
                {{#isSuccess}}
                {{^isGetList}}
                $objVO = $objVoFromStdClass->populate(new {{baseType}}VO(), $objBody);
                {{/isGetList}}
                {{#isGetList}}
                {{#isNoContent}}
                return new VariableObjectIterator(array(), 0);
                {{/isNoContent}}
                {{^isNoContent}}
                $objVO = $this->transformGetListResponse($objBody, {{baseType}}VO::getClass());
                {{/isNoContent}}
                {{/isGetList}}
                {{/isSuccess}}
                {{^isSuccess}}
                $objVO = $objVoFromStdClass->populate(new {{baseType}}VO(), $objBody);
                $objExceptionVO = new \TriCore\Driver\Exception\RuntimeException();
                $objExceptionVO->setErrorObject($objVO);
                throw $objExceptionVO;
                {{/isSuccess}}
                break;
            {{/responses}}
        }
        return $objVO;
    }

    {{/operation}}
    {{/operations}}
}

