<?php
{{#models}}
{{#model}}
/**
 * Contains the {{classname}}VO class.
 *
 * @category   {{moduleName}}
 * @package    {{resourcePackage}}
 * @subpackage {{resourceSubPackage}}
 *
 * @author     {{{author}}}
 * @since      {{currentDate}}
 */

/**
 * @namespace
 */
namespace {{resourceSubPackage}};

use TriStudio\Resource\AbstractVariableObject;

/**
 * Contains the {{classname}}VO class.
 *
 * @category   {{moduleName}}
 * @package    {{resourcePackage}}
 * @subpackage {{resourceSubPackage}}
 *
 * @author     {{{author}}}
 * @since      {{currentDate}}
 */
class {{classname}}VO extends AbstractVariableObject
{

    /**
     * Corresponding resource config for a variable object.
     *
     * @var \TriStudio\Resource\AbstractResourceConfig
     */
    protected static $objResourceConfig;

    /**
     * The resource config class name.
     *
     * @see \TriStudio\Resource\AbstractVariableObject::$sResourceConfigClassName
     *
     * @var string
     */
    protected static $sResourceConfigClassName =
        '{{resourceSubPackage}}\{{classname}}ResourceConfig';

    /**
     * Set allowed properties for this VO.
     *
     * @author {{{author}}}
     * @since  {{currentDate}}
     */
    public function __construct()
    {
        {{#vars}}
        {{^isPrimitiveType}}
        {{^isContainer}}
        $this->addProperty(
            {{classname}}ResourceConfig::FIELD_{{uppercaseName}},
            array(
                AbstractVariableObject::OPTION_VO_NAME => {{datatype}}VO::getClass()
            )
        );
        {{/isContainer}}
        {{#isContainer}}
        $this->addProperty(
            {{classname}}ResourceConfig::FIELD_{{uppercaseName}},
            array(
                AbstractVariableObject::OPTION_VO_NAME => {{#items}}{{datatype}}{{/items}}VO::getClass()
            )
        );
        {{/isContainer}}
        {{/isPrimitiveType}}
        {{#isPrimitiveType}}
        $this->addProperty({{classname}}ResourceConfig::FIELD_{{uppercaseName}});
        {{/isPrimitiveType}}
        {{/vars}}
    }

}
{{/model}}
{{/models}}